NodeWorthy.json
{
  "name": "NodeWorthy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        624
      ],
      "id": "9939b840-7ee2-48a5-8072-bfa950fd95e2",
      "name": "Telegram Trigger",
      "webhookId": "2a46a812-6e81-4a51-85e8-6d0a39346a5b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract two details from the user message:\n\nTask – What the user wants to be reminded about.\n\nReminderDateTime – A full ISO 8601 datetime string (with timezone) for when the reminder should occur.\n\nInput:\n\nUser message: {{ $json.message.text }}\n\nCurrent datetime: {{ $node[\"Date & Time\"].json[\"currentDate\"] }} (ISO 8601 format)\n\nRules:\n\nIf only a time is mentioned (e.g., “4”, “4am”, “4pm”), combine it with today’s date and the timezone.\n\nRecognize AM/PM accurately.\n\nIf no AM/PM is mentioned, interpret the time using a 24-hour assumption based on common patterns.\n\nIf the resulting time is already passed today, set the reminder for tomorrow instead.\n\nIf a full date is mentioned (e.g., “July 30”), use that as-is.\n\nOutput must always be a full ISO 8601 datetime string with timezone.\n\nOutput Format:\n\nTask: [task description]\nReminderDateTime: [ISO 8601 datetime with timezone]\nExample Input:\nUser message: \"remind me to eat at 4am\"\nCurrent datetime: \"2025-07-26T05:06:42.717+03:00\"\n\nExample Output:\n\nTask: eat  \nReminderDateTime: 2025-07-27T04:00:00+03:00",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        512,
        656
      ],
      "id": "74648f3d-643e-4d2d-812d-3bdedada4e9a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        320,
        848
      ],
      "id": "41ccb298-16a0-443f-a919-be6a8e9114ff",
      "name": "Mistral Cloud Chat Model1",
      "notes": "Extract the task description and the reminder time from the following message. \nReturn only a JSON object like this:\n{\n  \"task\": \"Submit assignment\",\n  \"reminderTime\": \"2025-07-24T14:30:00Z\"\n}\n\nMessage: \"{{ $json[\"message\"][\"text\"] }}\""
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json[\"message\"][\"from\"][\"id\"] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        848
      ],
      "id": "3bb6f221-adc2-459f-97a8-6a49d145cb77",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\n\n// Extract task and reminder time from the raw string\nconst taskMatch = raw.match(/Task:\\s*(.+)/);\nconst timeMatch = raw.match(/ReminderDateTime:\\s*(.+)/);\n\nconst task = taskMatch ? taskMatch[1].trim() : '';\nlet reminderTime = timeMatch ? timeMatch[1].trim() : '';\n\n// Handle timezone formatting\nif (!reminderTime.endsWith('Z') && !reminderTime.includes('+')) {\n  reminderTime += 'Z';\n}\n\nconst currentDate = new Date($node[\"Date & Time\"].json.currentDate);\nlet reminderDate = new Date(reminderTime);\n\n// Adjust date if reminder time has already passed today\nif (reminderDate <= currentDate) {\n  reminderDate.setDate(reminderDate.getDate() + 1);\n  reminderTime = reminderDate.toISOString();\n}\n\n// Format time nicely\nconst friendlyTime = reminderDate.toLocaleString('en-US', {\n  timeZone: 'Europe/Istanbul',\n  year: 'numeric',\n  month: 'short',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n});\n\n// Confirmation message (immediate)\nconst confirmationMessage = `Hi! ✅\\nI've set your reminder:\\n\\n📝 Task: ${task}\\n⏰ Time: ${friendlyTime}`;\n\n// Reminder message (to be sent later at reminder time)\nconst reminderMessage = `⏰ Reminder! It’s time! Task: ${task}`;\n\nreturn [{\n  json: {\n    confirmationMessage,\n    reminderMessage,\n    task,\n    reminderTime: friendlyTime,\n    reminderTimeISO: reminderTime\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        656
      ],
      "id": "dc1f7a1b-67d4-4c29-af5b-ded2ecae5056",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.confirmationMessage }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        656
      ],
      "id": "3d52fd4b-e716-4c32-95b3-cf80aa8a5410",
      "name": "Send a text message",
      "webhookId": "7f8ab161-aaa8-4530-989b-ff9989ecceda"
    },
    {
      "parameters": {
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        256,
        528
      ],
      "id": "141af877-80ed-46de-aa91-b1571a4674a0",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Code').item.json.reminderTimeISO }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        656
      ],
      "id": "e95b5e9a-b910-44a7-91d8-33c43914c125",
      "name": "Wait",
      "webhookId": "7ebad91c-60bb-422f-a5a9-fd28953dafe5"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Code').item.json.reminderMessage }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        656
      ],
      "id": "72bce1da-aaf1-4353-9579-6a2a1a59e59b",
      "name": "Send a text message1",
      "webhookId": "623a520a-9a1d-40d8-b6a8-54ece586b2fd"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vJnHmZ9dJ8JytzjzPbl0n6YUpmfUcWDQaaCYse2xkhw",
          "mode": "list",
          "cachedResultName": "myReminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vJnHmZ9dJ8JytzjzPbl0n6YUpmfUcWDQaaCYse2xkhw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vJnHmZ9dJ8JytzjzPbl0n6YUpmfUcWDQaaCYse2xkhw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task": "={{ $('Code').item.json.task }}",
            "ReminderDateTime": "={{ $('Code').item.json.reminderTime }}",
            "CreatedAt": "={{ new Date($('Date & Time').item.json.currentDate).toLocaleString('en-US', {\n  timeZone: 'Europe/Istanbul',\n  year: 'numeric',\n  month: 'short',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n}) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReminderDateTime",
              "displayName": "ReminderDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CreatedAt",
              "displayName": "CreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1376,
        656
      ],
      "id": "f934cd4b-7c8e-40d0-a145-ce78c9343603",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "triggerTimes": {
          "values": [],
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "position": [
        0,
        1056
      ],
      "type": "n8n-nodes-base.cron",
      "name": "Automatic Daily Check1",
      "id": "ef05138a-a3a3-45b7-b47d-4927279baf64",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "986de37bb67ca148234308befa4cce274302eb7832bf48a64e4cf79a4203fbf8@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "reminder"
        },
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Asia/Beirut",
            "mode": "list",
            "cachedResultName": "Asia/Beirut"
          }
        }
      },
      "name": "Get Calendar Events1",
      "position": [
        240,
        1056
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "id": "2eed6237-dfd2-488a-a735-06c7bca9bb8a",
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Gmx9dNF1QdzASHzw",
          "name": "Google Calendar account 5"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const options = { \n  timeZone: 'Asia/Beirut', \n  year: 'numeric', month: 'numeric', day: 'numeric', \n  hour: '2-digit', minute: '2-digit', second: '2-digit' \n};\n\nlet reminderMessage = \"🗓️ *Upcoming Events:*\\n\";\n\nif (items.length === 0) {\n  return [{ json: { reminderMessage: \"✅ No upcoming events today.\" } }];\n}\n\nfor (const item of items) {\n  const event = item.json;\n  const summary = event.summary || \"No Title\";\n\n  const start = event.start && event.start.dateTime \n    ? new Date(event.start.dateTime).toLocaleString('en-US', options)\n    : (event.start && event.start.date \n        ? new Date(event.start.date).toLocaleDateString('en-US', options)\n        : \"N/A\");\n\n  const end = event.end && event.end.dateTime \n    ? new Date(event.end.dateTime).toLocaleString('en-US', options)\n    : (event.end && event.end.date \n        ? new Date(event.end.date).toLocaleDateString('en-US', options)\n        : \"N/A\");\n\n  const location = event.location ? `📍 *Location:* ${event.location}\\n` : \"\";\n\n  reminderMessage += `\\n🔹 *${summary}*\\n🕒 *Starts:* ${start}\\n🕔 *Ends:* ${end}\\n${location}`;\n}\n\nreturn [{ json: { reminderMessage } }];"
      },
      "position": [
        480,
        1056
      ],
      "name": "Format Reminders1",
      "type": "n8n-nodes-base.function",
      "id": "9a553b70-6190-4c5f-b348-c6b8fb613ec9",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc8e4e11-d735-46ef-a9b2-6014fa298964",
              "leftValue": "={{$items.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        1056
      ],
      "name": "Check for Events1",
      "id": "67429756-2cc1-4c6c-ae56-cc8b6fe90240",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "1172039442",
        "text": "={{$json.reminderMessage}}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "disable_web_page_preview": false,
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "position": [
        992,
        1040
      ],
      "name": "Send Telegram Reminder1",
      "type": "n8n-nodes-base.telegram",
      "id": "93392722-faa6-49a8-90ff-3cb26f716885",
      "webhookId": "63d8dcdd-352e-4d04-8dbd-865e4cbb738c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "iFEvIg8H4SzEvX9m",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "# **Daily Calendar Reminder Workflow**\n\n-Trigger: Runs daily at midnight (00:00) using Cron node.\n\n-Fetch: Gets all events from Google Calendar for the day in the 'Asia/Beirut' timezone.\n\n-Process: Formats event details (title, start/end times, location) into a reminder message.\n\n-Check: Only proceeds if there are upcoming events.\n\n-Send: Sends the reminder message via Telegram to chat ID 1172039442.",
        "height": 368,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        1296
      ],
      "typeVersion": 1,
      "id": "90d16218-2e45-4eac-bb2b-e4eb402a84a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# **Note:**\nYou need to manually provide your Telegram chat ID in the “Send Telegram Reminder” node’s chatId field for the message to be sent correctly.\n\nDynamic chat ID from another workflow is not supported yet.",
        "height": 192,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        1296
      ],
      "typeVersion": 1,
      "id": "0e3222fb-be40-4b1a-8908-75e8767ba3bd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# **Reminder Bot Workflow (Telegram + AI + Google Sheets)**\n\n# **Trigger:** \n\nListens for Telegram messages.\n\n# **Process:**\n\nGets current date/time.\n\nSends message text to AI agent to extract:\n\nTask description\n\nReminder datetime (ISO 8601, with timezone, adjusted if time passed).\n\nParses AI response in Code node; formats confirmation & reminder messages.",
        "height": 480,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        16
      ],
      "typeVersion": 1,
      "id": "83ab2808-cb9e-48bb-8785-709f91031420",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# **Outputs:**\n\nSends confirmation message to user immediately.\n\nLogs reminder details (Task, ReminderDateTime, CreatedAt) to Google Sheets.\n\nWaits until reminder time.\n\nSends reminder message to user.",
        "height": 256,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        0
      ],
      "typeVersion": 1,
      "id": "8d8581ac-9dd4-40bc-8a7f-e876e2bd531a",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automatic Daily Check1": {
      "main": [
        [
          {
            "node": "Get Calendar Events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events1": {
      "main": [
        [
          {
            "node": "Format Reminders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reminders1": {
      "main": [
        [
          {
            "node": "Check for Events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Events1": {
      "main": [
        [
          {
            "node": "Send Telegram Reminder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bfaa862-779e-4156-a615-7bc99170c886",
  "meta": {
    "instanceId": "1935db11bd2f03ee8f801427b0e88f417c3405391d1679eb1519aff06177dac9"
  },
  "id": "v0qfyHSiZpeOieQ7",
  "tags": []
}